services:
  backend:
    build:
      context: ./backend/sanrio_star
      dockerfile: docker/dockerfile
    container_name: laravel_app
    ports:
      - "8000:80"
    volumes:
      - ./backend:/var/www/html
    environment:
      - DB_HOST=mysql
      - DB_DATABASE=sanriostar
      - DB_USERNAME=root
      - DB_PASSWORD=secret
    depends_on:
      - mysql

  frontend:
    build:
      context: ./frontend
      dockerfile: dockerfile
    container_name: react_app
    ports:
      - "3000:80"
    depends_on:
      - backend

  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: sanriostar
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
